@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f8fafc; /* slate-50 */
  color: #020617; /* slate-950-ish */
}

